{{page-title 'ember-plausible'}}

<LinkTo @route='index'>Index</LinkTo>
<LinkTo @route='foo'>Foo</LinkTo>
<LinkTo @route='foo.bar'>Bar</LinkTo>
<LinkTo @route='baz'>Baz</LinkTo>

<a
  href='https://redpencil.io'
  target='_blank'
  rel='noopener noreferrer'
>Outbound link</a>

{{outlet}}